// padding
@mixin padding-h($h: 1rem) {
	padding-left: calc($h);
	padding-right: calc($h);
}

@mixin padding-v($v: 1rem) {
	padding-top: calc($v);
	padding-bottom: calc($v);
}

@mixin padding($h: 1rem, $v: 1rem) {
	@include padding-h($h);
	@include padding-v($v);
}

@mixin all-padding($h, $v, $has-parent: true) {
	//
	$prefix: '.';
	@if $has-parent {
		$prefix: '&.';
	}
	//
	#{$prefix}padding {
		@include padding($h, $v);
	}
	#{$prefix}padding-v {
		@include padding-v($v);
	}
	#{$prefix}padding-h {
		@include padding-h($h);
	}
	//
	#{$prefix}padding-sm {
		@include padding(calc($h * 0.5), calc($v * 0.5));
	}
	#{$prefix}padding-v-sm {
		@include padding-v(calc($v * 0.5));
	}
	#{$prefix}padding-h-sm {
		@include padding-h(calc($h * 0.5));
	}
}

// margin
@mixin margin-h($h: 1rem) {
	margin-left: calc($h);
	margin-right: calc($h);
}

@mixin margin-v($v: 1rem) {
	margin-top: calc($v);
	margin-bottom: calc($v);
}

@mixin margin($h: 1rem, $v: 1rem) {
	@include margin-h($h);
	@include margin-v($v);
}

@mixin all-margin($h, $v, $has-parent: true) {
	//
	$prefix: '.';
	@if $has-parent {
		$prefix: '&.';
	}
	//
	#{$prefix}margin {
		@include margin($h, $v);
	}
	#{$prefix}margin-v {
		@include margin-v($v);
	}
	#{$prefix}margin-h {
		@include margin-h($h);
	}
}
