$pointer-size: 1em;

.responsive {
	display: flex;
	gap: 1rem;
	flex: 1;
	//
	.react-colorful {
		flex: 1;

		.react-colorful__pointer {
			width: $pointer-size;
			height: $pointer-size;
		}

		.react-colorful__hue,
		.react-colorful__alpha {
			height: $pointer-size;
		}
	}
	//
	.shades {
		flex: 0.5;
		display: flex;
		flex-direction: column;
		gap: 6px;
		.shadeWrapper {
			border-radius: 0.4em;
			//
			.shade {
				border-radius: inherit;
				padding: 0.8rem;
				transition: 0.1s ease-in-out;
				font-family: monospace;

				&:hover {
					transform: scaleX(1.1) scaleY(1.3);
					z-index: 10;
				}

				span {
					font-size: 0.8rem;
					font-weight: bold;
					display: block;
				}
			}
		}
	}
}
