$pointer-size: 1em;

//
.format-select {
	gap: 0.5rem;
	align-items: center;
}
//
.responsive {
	display: flex;
	gap: 1rem;
	flex: 1;
	min-height: 250px;
	//
	.react-colorful {
		flex: 2;
		width: auto;
		height: auto;

		.react-colorful__pointer {
			width: $pointer-size;
			height: $pointer-size;
		}

		.react-colorful__hue,
		.react-colorful__alpha {
			height: $pointer-size;
		}
	}
	//
	.shades {
		display: flex;
		flex-direction: column;
		//
		.shadeWrapper {
			transition: 0.1s ease-in-out;
			background-color: #fff;
			background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>');
			&:hover {
				transform: scale(1.25);
				z-index: 10;
			}
		}
	}
}

.shade {
	font-family: monospace;
	// border-radius: inherit;
	font-size: 0.8rem;
	font-weight: bold;
	flex: 1;
}
