.input-container {
	color: var(--gray12);
	display: flex;
	align-items: center;
	flex-direction: column;

	.input {
		display: flex;
		width: 100%;
		input {
			letter-spacing: 1px;
			box-sizing: border-box;
			font-family: var(--font-sans);
			font-weight: bold;
			border: none;
			width: 100%;
			font-size: var(--cmd-input-font-size);
			padding: 8px;
			outline: none;
			background: var(--bg);
			color: inherit;
			border-radius: 0;

			&::placeholder {
				color: var(--gray9);
			}
		}

		.right-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 4px 0 4px;

			.icon {
				font-size: var(--user-input-icon-size);
				margin: 0 4px 0 4px;
				opacity: 0.6;
			}
			svg {
				transition: 0.25s ease-in-out;
				&:hover {
					filter: drop-shadow(0 0 2px rgb(255 255 255 / 0.8));
					// transition: 2s ease-in-out;
				}
			}
		}
	}

	// border-animation
	.border {
		position: relative;
		width: 100%;

		&::after,
		&::before {
			border-radius: 5px;
			content: '';
			position: absolute;
			background: linear-gradient(
				45deg,
				#fb0094,
				#00ff00,
				#ffff00,
				#ff0000,
				#ffff00,
				#00ff00,
				#fb0094
			);
			width: 100%;
			height: 1px;
			z-index: 1;
			background-size: 200%;
			animation: steam 2.5s linear infinite;
		}

		&::after {
			filter: blur(4px);
		}

		@keyframes steam {
			0% {
				background-position: 200% 0;
			}

			100% {
				background-position: 0 0;
			}
		}
	}
}
