// colors
$command-color-primary: hsl(0, 0%, 10%);
$command-color-secondary: hsl(15, 100%, 20%);
$command-color-textColor: hsl(0, 0%, 70%);
$command-color-hoverTextColor: hsl(0, 0%, 80%);
//
$command-spacing: 0.45rem;

.item {
	padding: $command-spacing;
	align-items: center;
	flex: 1;
	border-top: 1px solid #ffffff20;
	//
	:hover {
		color: $command-color-hoverTextColor;
		background-color: $command-color-secondary;
	}
	//
	.hover {
		color: $command-color-hoverTextColor;
		background-color: $command-color-secondary;
	}
	//
	.shortcut {
		display: flex;
		margin-left: auto;
		gap: 5px;
	}
}

.generic-item {
	padding: $command-spacing;
}

// const ItemHoverCss: ComplexStyleRule = {
// 	backgroundColor: vars.components.item.hoverBackground,
// 	// fontWeight: 'bold',
// 	color: vars.components.item.hoverFontColor,
// };

// const item = style({
// 	padding: vars.spacing,
// 	alignItems: 'center',
// 	flex: 1,
// 	borderTop: '1px solid #FFFFFF20',
// 	':hover': ItemHoverCss,
// });
